Spring_Webservice/spring_server_final_client/src/main/resources/wsdl/SaveUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com/javaguys/webservices/saveUserServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com/javaguys/webservices/saveUserServices" xmlns:sch1="http://user.javaguys.blog.com" xmlns:sch0="http://com/javaguys/webservices/saveUserServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://com/javaguys/webservices/saveUserServices" xmlns="http://com/javaguys/webservices/saveUserServices" xmlns:user="http://user.javaguys.blog.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:import namespace="http://user.javaguys.blog.com"/>


<xsd:element name="SaveUserRequest">


<xsd:complexType>


<xsd:sequence>

<xsd:element name="userDetails" type="user:User"/>

</xsd:sequence>

</xsd:complexType>

</xsd:element>


<xsd:element name="SaveUserResponse">


<xsd:complexType>


<xsd:sequence>

<xsd:element name="userId" type="xsd:string"/>

</xsd:sequence>

</xsd:complexType>

</xsd:element>

</xsd:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://user.javaguys.blog.com" xmlns="http://user.javaguys.blog.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="User" type="User"/>


<xs:complexType name="User">


<xs:sequence>

<xs:element name="UserId" type="xs:string"/>

<xs:element name="UserName" type="xs:string"/>

<xs:element name="UserGender" type="xs:string"/>

<xs:element name="UserStatus" type="xs:string"/>

</xs:sequence>

</xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="SaveUserRequest">
    <wsdl:part name="SaveUserRequest" element="tns:SaveUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SaveUserResponse">
    <wsdl:part name="SaveUserResponse" element="tns:SaveUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SaveUserService">
    <wsdl:operation name="SaveUser">
      <wsdl:input name="SaveUserRequest" message="tns:SaveUserRequest">
    </wsdl:input>
      <wsdl:output name="SaveUserResponse" message="tns:SaveUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SaveUserServiceSoap11" type="tns:SaveUserService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SaveUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="SaveUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SaveUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaveUserService">
    <wsdl:port name="SaveUserServiceSoap11" binding="tns:SaveUserServiceSoap11">
      <soap:address location="http://localhost:8080/spring-server-final/endpoints"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
